:root {
	box-sizing: border-box;
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * 0.9);
	margin: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
}
.names-input {
	text-align: center;
}
form {
	display: flex;
	justify-content: center;
}
input {
	width: 60px;
	border: dashed 1px;
	border-color: rgb(221, 221, 221);
	padding: 5px 10px;
	margin: 5px 10px;
	text-align: center;
	border-radius: 5px;
}
button {
	margin-bottom: 10px;
	border: none;
	background-color: black;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}
.header {
	padding: 5px 10px;
	font-weight: 600;
	font-size: 20px;
	color: rgb(67, 67, 67);
}
.output-name {
	margin: 0px 15px;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	font-size: calc(var(--mark-size) * 1.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.row .cell:nth-child(2) {
	border-right: 1px solid black;
	border-left: 1px solid black;
}
.row:nth-child(2) {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
